

body {
    background-color: bisque;
    color: rgb(20,20,20);
    text-align: center;
    font-family: open-sans, sans-serif;
    font-size: 1rem;
    margin: 0rem;
}
h1 {
    font-size: 5rem;
    margin: .25em 0em;
}
h4 {
    font-weight: normal;
}
div {
    margin: 1rem 6rem;
}
hr {
    margin: 1rem;
}
td {
  padding: .25rem;
}
img {
    width: 50vw;
    max-width: 32rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555555;
}
li {
  float: left;
}

nav {
    background-color: #555555;
    color : #F4F4F4;
    position: fixed;
    top: 0rem;
    width: 100%;
}

.navbar-title {
    display: block;
    float: left;
    padding: 0.65rem 1.5rem;
    margin: 0rem;
}


nav li a {
  display: block;
  padding: 1rem min(3vw, 1.5rem);
  color : #F4F4F4;
  text-decoration: none;
  font-weight: 500;
  font-size: min(5vw, 1rem)
}

nav li a:hover {
    background-color: #222222;
}


.authors {
    color: indigo;
}
.thin-section {
    width: 60%;
    margin: 4.5rem auto 1.25rem auto;
}
.main-section {
    width: 80%;
    margin: 20px auto;
}



@font-face {
    font-family: open-sans;
    src: url(fonts/open-sans/OpenSans-VariableFont_wdth\,wght.ttf);
}



@media screen and (max-device-width: 480px){
    body{
      -webkit-text-size-adjust: 100%;
    }
}