body {
    background-color: bisque;
    font-family: verdana;
    color: midnightblue;
    text-align: center;
}
h1 {
    color: black;
}
div {
    margin: 60px 120px;
}
hr {
    margin: 30px;
}
td {
  padding: 5px;
}
.authors {
    color: indigo;
}
.title-section {
    width: 60%;
    margin: 20px auto;
}
.main-section {
    width: 80%;
    margin: 20px auto;
}
