#project-materials-bottom-logo {
    width: 20rem;
    margin-bottom: 3rem;
}

@media screen and (max-aspect-ratio: 4/3), (pointer:none), (pointer:coarse) {

    #materials-page-top-section {
        margin: 0rem 2rem;
    }
    
    #materials-page-bottom-section {
        margin: 0rem 2rem;
    }

}
